# Generic ignores
.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Project specific ignores

# From https://github.com/github/gitignore/blob/master/Eagle.gitignore
# MIT license, Copyright (c) 2014 GitHub, Inc.
# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
